/* ------------------------Mixing--------------------------*/
.buttonFormulario:hover {
    background-color: #6c757d;
    color: hsl(124, 82%, 43%);
    font-size: 46px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  